<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kaikai</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Sharing -->
    <meta name="name" content="Kaikai">
    <meta name="image" content="http://vr.chromeexperiments.com/images/vr.jpg">
    <meta name="description" content="A virtual reality Chrome Experiment for Kaikai.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ChromeExp">
    <meta name="twitter:title" content="Kaikai">
    <meta name="twitter:description" content="Kaikai.">
    <meta name="twitter:creator" content="@ChromeExp">
    <meta name="twitter:image:src" content="">
    <meta name="twitter:domain" content="">

    <meta itemprop="name" content="Kaikai">
    <meta itemprop="description" content="Kaikai.">
    <meta itemprop="image" src="">

    <meta property="og:title" content="Kaikai">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://vr.chromeexperiments.com/images/vr.jpg"/>
    <meta property="og:site_name" content="Kaikai">
    <meta property="og:description" content="A virtual reality Chrome Experiment for Kaikai.">


  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<style>
    body {
      margin: 0px;
      background-color: #000;
      overflow: hidden;
		}
    #shade, #scene {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    #shade {
      background-color: rgba(0,0,0,0);
      -moz-transition: all 1s ease-in-out;
      -webkit-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      pointer-events: none;
    }
	</style>
</head>
<body>

<div id="scene"></div>
<div id="shade"></div>

<!-- <script> window.history.replaceState({},"","/"); </script> -->

<script src="/static/js/third-party/threejs/three.min.js"></script>
<script src="/static/js/third-party/threejs/StereoEffect.js"></script>
<script src="/static/js/third-party/threejs/DeviceOrientationControls.js"></script>
<script src="/static/js/third-party/threejs/OrbitControls.js"></script>

<script src="/static/js/third-party/has.js"></script>

<script src="/static/js/DetectScreenSize.js"></script>
<script src="/static/js/Kaikai.js"></script>

<script src="/static/js/gallery/audio.js"></script>

<script>
var DEMOS = [
  {
    'slug': 'smiley',
    'href': '#',
    'preview': '/static/img/freddy.png'
  },
];
</script>

<script src="/static/js/util.js"></script>
<script src="/static/js/gallery/main.js"></script>

<script>

// add no sleep

// add full screen

// initialize the screen


var kaikai, gallery, cursor;

function setup() {

  kaikai = new Kaikai();

  gallery = new Gallery(DEMOS);
  kaikai.scene.add(gallery);

  cursor = new Cursor();
  kaikai.camera.add(cursor);
  cursor.position.z = -3 * SCALE;
  cursor.lookAt(kaikai.camera.position);

  kaikai.effect.separation = 0.6;

  if (!has.mobile) {
    setTimeout(function() {
      kaikai.orbitControls.target.set(0,0.3,1);
    },0);
  }

  kaikai.update = function() {
    Kaikai.prototype.update.call(this);
    gallery.update();
  };

  document.getElementById('scene').appendChild(kaikai.renderer.domElement);

}


setup();

</script>

</body>
</html>
